<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example: Không tìm thấy</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example</a></h2>
      <p>Xin lỗi, tôi không tìm thấy thứ bạn đang tìm kiếm! Hãy kiểm tra <a href="./">trang chủ</a>?</p>
{{ template "footer" }}
    </div>
  </body>
</html>
